__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*.egg-info/
venv/
.venv/
env/
ENV/

.dockerignore

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json 

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

/data/